// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//FontSize
.fs-30 {
    font-size: 30px;
}

.fs-20 {
    font-size: 20px;
}

.fs-15 {
    font-size: 15px;
}

// Dimensions
.responsive-input {
    width: 95%;
}

.slide-icon {
    width: 5%;
}

// Color
.bg-beige {
    background-color: beige;
}

.beige,
#login-link {
    color: beige;
}

#login-link :hover {
    color: rgb(255, 255, 255);
}



/* TAILLE TELEPHONE */

@media (max-width: 575.98px) {}

/* TAILLE IPAD */

@media (min-width: 576px) and (max-width: 767px) {
    .responsive-input {
        width: 80%;
    }
}

/* TAILLE ECRAN MOYEN */

@media (min-width: 768px) and (max-width: 991px) {
    .responsive-input {
        width: 75%;
    }
}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {
    .responsive-input {
        width: 30%;
    }
}
